vllm
pytest-mock
auditnlg
setuptools>=70.0.0
torch>=2.2.0
wheel>=0.38.0
safetensors
tokenizers
scipy
pyzmq
fairscale
tqdm~=4.66.3
importlib-metadata<4.3
numpy~=1.22.2
jiter
typing-extensions<5,>=4.11
spacy
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
