vllm
pytest-mock
auditnlg
setuptools>=70.0.0
torch>=2.2.0
wheel>=0.38.0
safetensors
tokenizers
scipy
pyzmq
fairscale
tqdm~=4.62.1
importlib-metadata<4.3
numpy~=1.22
jiter
typing-extensions<5,>=4.11
spacy
